.title2 {
  font-family: 'Gilroy';
  font-weight: 600;
  font-size: 28px;
  line-height: 1.18;

  color: var(--text-main);

  @include tablet {
    & {
      font-size: 32px;
      line-height: 1.21;
    }
  }

  @include desktop {
    & {
      font-size: 36px;
    }
  }

  @include fullHd {
    & {
      font-size: 44px;
    }
  }

  & span {
    color: var(--text-primary);
  }
}
