.checkOut-bg {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 200px;
    left: 0;

    width: 2051px;
    height: 767px;

    transform-origin: left center;
    transform: skew(-8deg) rotate(-8deg);
    border-radius: 50px;

    background-color: #f7f7f7;
    // background-color: teal;

    @include tablet {
      & {
        top: 365px;
        height: 956px;
      }
    }

    @include laptop {
      & {
        top: 140px;
        height: 663px;
      }
    }

    @include desktop {
      & {
        top: 140px;
        left: 54px;
        height: 663px;
      }
    }

    @include hd {
      & {
        width: 2800px;
      }
    }
  }
}

.checkOut-bg-2 {
  position: relative;
  z-index: 1;
  background-image: url('/img/checkOut/diamond_dg.png'), url('/img/checkOut/diamond_dg_2.png');
  background-repeat: no-repeat, no-repeat;
  background-size: 299px, 200px;
  background-position: right -161px bottom -21px, left -92px bottom 260px;

  @include tablet {
    & {
      background-size: 299px, 297px;
      background-position: right -130px bottom 110px, left -85px bottom 526px;
    }
  }

  @include laptop {
    & {
      background-size: 253px 192px, 297px;
      background-position: left 869px bottom 10px, left -73px bottom -67px;
    }
  }

  @include desktop {
    & {
      background-position: right -81px bottom 136px, left 0 bottom -58px;
    }
  }

  @include hd {
    & {
      background-position: right 0 bottom 148px, left 79px bottom -47px;
    }
  }

  @include fullHd {
    & {
      background-position: right 238px bottom 142px, left 320px bottom -53px;
    }
  }
}

#checkOut {
  position: relative;
  z-index: 2;
}

.checkOut__box {
  padding-top: 276px;
  padding-bottom: 136px;
  text-align: center;

  @include tablet {
    & {
      padding-top: 392px;
      padding-bottom: 210px;
    }
  }

  @include laptop {
    & {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 67px;

      text-align: left;
    }
  }

  @include laptop {
    & {
      padding-top: 189px;
      padding-bottom: 45px;
    }
  }

  @include desktop {
    & {
      padding-bottom: 35px;
      align-items: self-start;
      gap: 73px;

      & div {
        padding-top: 72px;
      }
    }
  }

  @include hd {
    & {
      gap: 145px;
    }
  }

  @include fullHd {
    & {
      padding-top: 130px;
    }
  }
}

.checkOut-schema__work {
  margin: 48px auto 0 auto;
  max-width: 343px;

  @include tablet {
    & {
      max-width: 520px;
    }
  }

  @include tablet {
    & {
      max-width: 561px;
    }
  }
}

.checkOut__text {
  margin: 14px auto 0 auto;
  max-width: 429px;

  font-size: 14px;
  line-height: 1.64;

  color: var(--text-second);

  @include tablet {
    & {
      margin-top: 16px;
    }
  }

  @include laptop {
    & {
      margin: 14px 0 0 0;
      font-size: 16px;
    }
  }

  @include fullHd {
    & {
      font-size: 18px;
    }
  }
}

.checkOut__button {
  margin-top: 34px;
  padding-left: 50px;
  padding-right: 50px;

  @include tablet {
    & {
      margin-top: 32px;
    }
  }
}
