.stars_box-dg {
  background-image: url('/img/whyChoose/mobile/bg_stars_mobile.png');
  background-repeat: no-repeat;
  background-position: top 398px right 0;

  background-size: 356px 218px;

  @media screen and (max-width: 406.98px) {
    & {
      background-position: top 438px right 0;
    }
  }

  @include tablet {
    & {
      background-image: url('/img/whyChoose/table/bg_stars_table.png');
      background-position: top 175px right 0;
      background-size: 656px 349px;
    }
  }

  @include laptop {
    & {
      background-image: url('/img/whyChoose/laptop/bg_stars_laptop.png');
      background-position: top 72px right 0;
      background-size: 942px 393px;
    }
  }

  @include desktop {
    & {
      background-image: url('/img/whyChoose/desktop/bg_stars_desktop.png');
      background-position: top 41px right 0;
      background-size: 941px 382px;
    }
  }

  @include hd {
    & {
      background-image: url('/img/whyChoose/hd/bg_stars_hd.png');
      background-position: top 20px right 0;
      background-size: 946px 392px;
    }
  }

  @include fullHd {
    & {
      margin: 0 auto;
      max-width: 1955px;

      background-image: url('/img/whyChoose/fullHd/bg_stars_fullHd.png');
      background-position: top 0 right 0;
      background-size: 946px 392px;
    }
  }
}

.whyChoose-bg {
  position: relative;

  background-image: url('/img/whyChoose/mobile/bg_mobile.png');
  background-repeat: no-repeat;
  background-position: left -125px bottom 0px;
  background-size: cover;

  @include tablet {
    & {
      background-image: url('/img/whyChoose/table/bg_table.png');
      background-position: left -132px bottom 0;
    }
  }

  @include laptop {
    & {
      background-image: url('/img/whyChoose/laptop/bg_laptop.png');
      background-position: left -91px bottom 0;
    }
  }

  @include desktop {
    & {
      background-image: url('/img/whyChoose/desktop/bg_desktop.png');
      background-position: left -43px bottom -25px;
    }
  }

  @include hd {
    & {
      background-image: url('/img/whyChoose/hd/bg_hd.png');
      background-position: left -42px bottom -25px;
    }
  }

  @include fullHd {
    & {
      margin: 0 auto;
      max-width: 2095px;

      background-image: url('/img/whyChoose/fullHd/bg_fullHd.png');
      background-position: left -42px bottom -25px;
      background-size: 2095px 976px;
    }
  }
}

#whyChoose {
  position: relative;
  padding: 0 32px;
  z-index: 3;

  @media screen and (max-width: 406.98px) {
    & {
      padding-right: 0;
    }
  }

  @include laptop {
    & {
      padding-left: 63px;
      padding-right: 14px;
    }
  }

  @include desktop {
    & {
      padding: 0 124px;
    }
  }

  @include hd {
    & {
      padding: 0 204px;
    }
  }

  @include fullHd {
    & {
      padding: 0 294px;
      margin: 0 auto;
      max-width: 1930px;
    }
  }

  h2 {
    text-align: center;
    color: var(--text-white);
  }
}

.whyChoose__box {
  padding-top: 306px;
  padding-bottom: 203px;

  @include tablet {
    & {
      padding-top: 332px;
      padding-bottom: 334px;
    }
  }

  @include laptop {
    & {
      padding-top: 299px;
      padding-bottom: 198px;
    }
  }

  @include desktop {
    & {
      padding-top: 268px;
      padding-bottom: 178px;
    }
  }

  @include hd {
    & {
      padding-top: 285px;
      padding-bottom: 227px;
    }
  }

  @include fullHd {
    & {
      padding-top: 273px;
      padding-bottom: 257px;
    }
  }
}

.slide {
  padding: 25px 16px 48px 24px;
  margin: 0 auto;
  max-width: 490px;

  border-radius: 32px;

  background-color: #ffffff;

  @include laptop {
    & {
      position: relative;
      padding: 32px 159px 48px 32px;
      max-width: 100%;
      display: flex;
      flex-direction: row-reverse;
    }
  }
  @include fullHd {
    & {
      padding: 32px 165px 56px 32px;
    }
  }
}

.swiper-wrapper .slide__text {
  margin-left: -24px;
  padding: 19px 16px 24px 24px;

  font-size: 16px;
  line-height: 1.44;

  background-color: #f1f1f1;

  @include laptop {
    & {
      margin: 0;
      padding: 24px 191px 24px 24px;
      font-size: 18px;

      background-image: url('/img/whyChoose/double_quotes.svg');
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: right 167px bottom 24px;
    }
  }

  @include fullHd {
    & {
      padding-right: 161px;
      font-size: 20px;
    }
  }
}

.brenda__box {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 78px 1fr;
  align-items: center;
  gap: 12px;

  @include laptop {
    & {
      margin-top: 20px;
      grid-template-columns: 98px 1fr;
    }
  }

  & h3 {
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;

    @include tablet {
      & {
        font-size: 18px;
      }
    }
  }

  & p {
    font-size: 10px;
    line-height: 1.2;
    text-transform: uppercase;

    @include tablet {
      & {
        font-size: 12px;
      }
    }
  }

  @include tabletMax {
    & div {
      background-image: url('/img/whyChoose/double_quotes.svg');
      background-repeat: no-repeat;
      background-size: 24px 24px;
      background-position: right 0;
    }
  }
}

.swiper {
  position: relative;
  margin-top: 32px;
  width: 100%;
  height: 100%;

  @include laptop {
    & {
      margin-top: 42px;
    }
  }
}

.swiper-slide {
  & .slide-img {
    margin: 0 auto;
    height: 235px;
    width: auto;

    @include tablet {
      & {
        height: 298px;
      }
    }

    @include laptop {
      & {
        position: absolute;
        height: 100%;
        bottom: 0;
        right: 16px;
      }
    }
  }

  @include laptop {
    & .slide-4 .slide-img {
      top: 50%;
      transform: translateY(-50%);

      height: 317px;
    }
  }
}

.mySwiper {
  & .swiper-button-prev,
  & .swiper-button-next {
    height: auto;
    margin: 0;
  }

  & .swiper-button-prev::after,
  & .swiper-button-next::after {
    padding: 10px 14px;

    font-size: 20px;

    border-radius: 8px;

    color: #ffffff;
    background-color: #d2d2d2;
  }
}

.swiper-button-box {
  margin-top: 44px;
  display: flex;
  gap: 50px;

  @include tabletMax {
    & {
      display: none;
    }
  }
}

.swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 2px;
  transform: rotate(-45deg);
  background: radial-gradient(
    95.51% 95.51% at 50% 50%,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(250, 250, 250, 0.2) 100%
  );
  opacity: 1;
  transition: background 250ms linear;

  &-active {
    background: radial-gradient(
      136.24% 142.18% at 50% 50%,
      #ffffff 0%,
      rgba(250, 250, 250, 0.8) 100%
    );
  }
}
