<div class="checkOut-bg">
  <div class="checkOut-bg-2">
    <section class="container" id="checkOut">
      <div class="checkOut__box">
        <div>
          <h2 class="checkOut__title">Check out how it works</h2>
          <p class="checkOut__text">
            It’s easy! Exchange messages, create or confirm orders, send invoices, and collect
            payments across your supply chain — all within one dashboard.
          </p>
          <button type="button" class="button white checkOut__button">
            <svg class="icon icon-play" width="10" height="12">
              <use href="/img/symbol-defs.svg#icon-play"></use>
            </svg>
            Play Video
          </button>
        </div>
        <img class="checkOut-schema__work" src="/img/checkOut/schema.png" alt="schema work" />
      </div>
    </section>
  </div>
</div>
