<div class="contactForm-bg">
  <section class="container" id="contactForm">
    <div class="contactForm__box">
      <h2 class="title2">Fill up the form and we’ll get in touch within a few hours</h2>
      <form class="contactForm">
        <h3 class="title3">Hi, we’re <span>Tinvio!</span> And you?</h3>
        <label class="field-label-main">
          <span>Name</span>
          <input
            class="field-input-main"
            type="text"
            name="name"
            placeholder="John Appleseed"
            required
          />
          <span class="field-text-error">Requierd field</span>
        </label>

        <label class="field-label-main">
          <span>Business Name</span>
          <input
            class="field-input-main"
            type="text"
            name="business_name"
            placeholder="Burgers &Boba (Singapore)"
            required
          />
          <span class="field-text-error">Requierd field</span>
        </label>

        <label class="field-label-main">
          <span>Phone</span>
          <input
            class="field-input-main"
            type="text"
            name="phone"
            placeholder="65 9123 4567"
            required
          />
          <span class="field-text-error">Requierd field</span>
        </label>

        <button type="submit" class="button red button__submit">Submit</button>
        <div class="support-text__box">
          <span>No spam, promise</span>
          <svg width="15" height="16">
            <use href="/img/symbol-defs.svg#icon-hands"></use>
          </svg>
        </div>
      </form>
    </div>
  </section>
</div>
