<section class="container" id="featuresOn">
  <div class="featuresOn__box">
    <h2 class="title2">Featured On</h2>
    <ul class="list-logo">
      <li><img src="/img/featuredOn/featured_logo_1.png" alt="TC tech crunch logo" /></li>
      <li><img src="/img/featuredOn/featured_logo_2.png" alt="VA tech in asia logo" /></li>
      <li><img src="/img/featuredOn/featured_logo_3.png" alt="pymnts logo" /></li>
      <li><img src="/img/featuredOn/featured_logo_4.png" alt="venture beat logo" /></li>
    </ul>
  </div>
</section>
