<section id="features" class="container">
  <div class="features__wrapper">
    <div class="container">
      <div class="features__box">
        <h2 class="title2 features__title">
          Smarter supply chain transactions. <span>More buddy</span>
        </h2>
        <ul class="features-list">
          <li><button class="features__button" data-operation="chats">Chats</button></li>
          <li><button class="features__button" data-operation="orders">Orders</button></li>
          <li><button class="features__button" data-operation="payments">Payments</button></li>
        </ul>
        <div class="features-info">
          <ul class="list-chats">
            <li><p>Create chats with any business (even if they’re not on Tinvio)</p></li>
            <li><p>Fully integrated with your favorite chat apps</p></li>
            <li><p>Real-time messages and alerts</p></li>
          </ul>
          <ul class="list-orders visually-hidden">
            <li><p>Create or confirm purchase orders at lightning speed</p></li>
            <li><p>Manage inventory details and availability in real-time</p></li>
            <li><p>24/7 order insights and data reports</p></li>
          </ul>
          <ul class="list-payments visually-hidden">
            <li><p>Send invoices and easily track them until they’re paid</p></li>
            <li><p>Real-time payments settlement and reconciliation</p></li>
            <li><p>Safe, secure, and compliant</p></li>
          </ul>
        </div>
        <button type="button" class="button red features__main-button">More Features</button>
      </div>
    </div>
    <div class="features-img__box">
      <picture>
        <source
          srcset="/img/features/features_mobile.png"
          media="(max-width: 767.98px)"
          type="image/png"
        />
        <source
          srcset="/img/features/features_tablet.png"
          media="(max-width: 1023.98px)"
          type="image/png"
        />
        <img src="/img/features/features_chats.png" alt="chats" data-img="chats" />
      </picture>
      <picture>
        <source
          srcset="/img/features/features_mobile.png"
          media="(max-width: 767.98px)"
          type="image/png"
        />
        <source
          srcset="/img/features/features_tablet.png"
          media="(max-width: 1023.98px)"
          type="image/png"
        />
        <img
          src="/img/features/features_orders.png"
          alt="orders"
          class="visually-hidden"
          data-img="orders"
        />
      </picture>
      <picture>
        <source
          srcset="/img/features/features_mobile.png"
          media="(max-width: 767.98px)"
          type="image/png"
        />
        <source
          srcset="/img/features/features_tablet.png"
          media="(max-width: 1023.98px)"
          type="image/png"
        />
        <img
          src="/img/features/features_payments.png"
          alt="chats"
          class="visually-hidden"
          data-img="payments"
        />
      </picture>
    </div>
  </div>
</section>
