<footer class="container">
  <div class="footer-box">
    <a class="logo__link" href="/"><img class="logo" src="/img/logo_tinvio.png" alt="logo" /></a>
    <nav class="footer__nav">
      <ul class="footer__nav-list">
        <li><a href="/">Home</a></li>
        <li><a href="/">Features</a></li>
        <li><a href="/">Company</a></li>
        <li><a href="/">Login</a></li>
      </ul>
    </nav>

    <div class="footer__network-box">
      <ul class="footer__network-list">
        <li>
          <a href="/">
            <img src="/img/network/linkedin.png" alt="linkedin" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="/img/network/insta.png" alt="instagram" />
          </a>
        </li>
      </ul>
      <ul class="footer__store-list">
        <li>
          <a href="/">
            <img src="/img/network/google_play.png" alt="google play stor" />
          </a>
        </li>
        <li>
          <a href="/">
            <img src="/img/network/app_store.png" alt="app store" />
          </a>
        </li>
      </ul>
    </div>

    <div class="copyright__box">
      <p>&copy; Tinvio<sup>TM</sup> 2020. All Rights Reserved</p>
      <span>Privacy Policy</span>
      <span>Terms of Service</span>
    </div>
  </div>
</footer>
