<section id="happyBusinesses">
  <div class="happyBusinesses__box">
    <h2 class="title2">We’ll put a smile on your supply chain</h2>
    <div class="businesses-list__box">
      <div class="businesses-main">
        <div class="businesses-main__box-1">
          <div class="businesses-main__box-2">
            <div class="businesses-main__box-3">
              <p>
                5000+ <br />
                happy businesses
              </p>
            </div>
          </div>
        </div>
      </div>
      <ul class="businesses-list">
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_1.svg" alt="businesses 1 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_2.svg" alt="businesses 2 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_3.svg" alt="businesses 3 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_4.svg" alt="businesses 4 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_5.svg" alt="businesses 5 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_6.svg" alt="businesses 6 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_7.svg" alt="businesses 7 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_8.svg" alt="businesses 8 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_9.svg" alt="businesses 9 logo" /></div>
          </div>
        </li>
        <li class="businesses-list__element">
          <div class="businesses">
            <div><img src="/img/happyBusinesses/businesses_10.svg" alt="businesses_ 0 logo" /></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
