<header class="container" id="header">
  <div class="header__box">
    <div class="logo__box">
      <a href="/">
        <img class="logo" src="/img/header/logo_tinvio.png" alt="logo" />
      </a>
      <div class="language_box">
        <p>EN</p>
        <svg class="close" width="10" height="6">
          <use href="/img/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </div>
    </div>
    <div class="menu">
      <nav class="nav">
        <ul class="nav__list">
          <li><a href="/" class="nav__link current">Home</a></li>
          <li><a href="/" class="nav__link">Features</a></li>
          <li><a href="/" class="nav__link">Company</a></li>
        </ul>
      </nav>

      <button type="button" class="button red header-button__start">Get Started</button>

      <div class="network-box">
        <ul class="network-list">
          <li>
            <a href="/">
              <img src="/img/header/linkedin.png" alt="linkedin" />
            </a>
          </li>
          <li>
            <a href="/">
              <img src="/img/header/insta.png" alt="instagram" />
            </a>
          </li>
        </ul>
        <ul class="store-list">
          <li>
            <a href="/">
              <img src="/img/header/google_play.png" alt="google play stor" />
            </a>
          </li>
          <li>
            <a href="/">
              <img src="/img/header/app_store.png" alt="app store" />
            </a>
          </li>
        </ul>
      </div>
    </div>
    <button type="button" class="burger__button">
      <svg class="burger" width="24" height="24">
        <use href="/img/symbol-defs.svg#burger_icon"></use>
      </svg>
      <svg class="close" width="24" height="24">
        <use href="/img/symbol-defs.svg#close_icon"></use>
      </svg>
    </button>
    <button type="button" class="button white header-button__start">Get Started</button>
  </div>
</header>
