<section class="container" id="hero">
  <div class="hero__box">
    <h1 class="hero__title">Collecting payments <span>is easy</span>, right?</h1>
    <p class="hero__text">
      Manage all your supply chain transactions in one dashboard. Get paid faster, reconcile
      quicker, grow bigger.
    </p>
    <div class="hero-try__box">
      <button type="button" class="button red hero__button">Get Started Now</button>
      <div class="hero-try__box-text">
        <span>It's free to try!</span>
        <svg class="close" width="16" height="16">
          <use href="/img/symbol-defs.svg#icon-smile"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
