<div class="whyChoose-bg">
  <section class="" id="whyChoose">
    <div class="whyChoose__box">
      <h2 class="title2">Why choose Tinvio?</h2>

      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide">
              <img src="/img/whyChoose/slide_1.png" alt="rise" />
              <p class="slide__text">
                Tinvio has been a foundational partner and solution. We now have faster and more
                efficient communication with our clients, which makes order processing and
                deliveries smoother than ever before.
              </p>
              <div class="brenda__box">
                <img src="/img/whyChoose/brenda_logo_slide_1.png" alt="Hafidz & Indah" />
                <div>
                  <h3>Hafidz & Indah</h3>
                  <p>Owners (Sejadah Grocery)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <img src="/img/whyChoose/slide_2.png" alt="rise" />
              <p class="slide__text">
                With Tinvio, it's easier for my customers to make payments across various methods.
                Every payment is also collected in one business account where funds can be withdrawn
                instantly at any time.
              </p>
              <div class="brenda__box">
                <img src="/img/whyChoose/brenda_logo_slide_2.png" alt="Hafidz & Indah" />
                <div>
                  <h3>Pauline Limgenco</h3>
                  <p>Director (Moonleaf)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <img src="/img/whyChoose/slide_3.png" alt="rise" />
              <p class="slide__text">
                Tinvio helps our business run smoother. We can manage our customer's orders,
                receivables, and most importantly, trace and reconcile their payments without
                checking banking apps or statements.
              </p>
              <div class="brenda__box">
                <img src="/img/whyChoose/brenda_logo_slide_3.png" alt="Hafidz & Indah" />
                <div>
                  <h3>Punnasiri Chaipatikul</h3>
                  <p>Business Development Manager (Phaitong Station)</p>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <img src="/img/whyChoose/slide_4.png" alt="rise" />
              <p class="slide__text">
                Tinvio definitely helps to reduce the time and errors in order management between
                customers and suppliers. It’s super easy to use and available on mobile and web, and
                the team are friendly and always helpful.
              </p>
              <div class="brenda__box">
                <img src="/img/whyChoose/brenda_logo_slide_4.png" alt="Hafidz & Indah" />
                <div>
                  <h3>Fathira Dida</h3>
                  <p>Owner (Baker Old)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination" style="bottom: auto; transform: translateY(24px)"></div>
    </div>
  </section>
</div>
